<div class="jumbotron jumbotron-fluid bg-dark">

  <div class="jumbotron-background">
    <img src="https://placeimg.com/2000/1000/nature" class="blur ">
  </div>

  <div class="container text-white">

    <h1 class="display-4">WELCOME TO PROJECT MANAGEMENT SYSTEM</h1>

  </div>
  <!-- /.container -->


</div>
