<div class="container">
  <footer class="footer">
    <small>Copyright @nio</small>
    <nav>
    <ul>
    <li><%= image_tag "csir.png",size:"50"%></li>
    <li><%= image_tag "nio.png",size:"50"%></li>

    </ul>
    </nav>
  </footer>
</div>
